input {
    margin-top: 10px;
}
p {
    margin-top: 20px;
    font-weight: bolder;
}

.botao {
    margin-top: 30px; 
    font-weight: 500; 
    cursor: pointer;
}

.botao:hover{
    background-color: #AB8130;
    color: white;
    box-shadow: 11px 8px black;
}